@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F5F7FA;
  
}

.specialBorder {
  border: 1px solid #718EBF !important;
}

.specialBorderBottom {
  border-bottom: 0.5px solid  #8298be !important;/* Horizontal offset, Vertical offset, Blur radius, and color */
}

.custom-gap .mantine-Input-label {
  margin-bottom: 10px; /* Adjust the gap as needed */
}



:root {
  --toastify-toast-width: auto;
}

.Toastify__toast {
  min-width: 300px; /* Set your desired minimum width */
}