@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F5F7FA;
  
}

.specialBorder {
  box-shadow: 0 0 0 0.3px #718EBF;
}

.specialBorderBottom {
  border-bottom: 0.3px solid  #718EBF !important;/* Horizontal offset, Vertical offset, Blur radius, and color */
}




