@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: transparent;
  /* width: 0px !important; */
  /* max-width: 0px; */
}

.specialBorder {
  border: 1px solid #c6cfe1 !important;
}

.specialBorderBottom {
  border-bottom: 0.5px solid #c6cfe1 !important; /* Horizontal offset, Vertical offset, Blur radius, and color */
}

.custom-gap .mantine-Input-label {
  margin-bottom: 10px; /* Adjust the gap as needed */
}

:root {
  --toastify-toast-width: auto;
}

.Toastify__toast {
  max-width: 300px; /* Set your desired minimum width */
}
.animation {
  transform: perspective(300px) rotateX(5deg); /* Slight inward tilt (like a plate) */
  animation: float 7s ease-in-out; /* Gentle floating motion */
}

@keyframes float {
  0%,
  100% {
    transform: perspective(500px) rotateX(5deg) translateY(0);
  }
  50% {
    transform: perspective(500px) rotateX(5deg) translateY(-10px); /* Slight upward drift */
  }
}
